<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" type="text/css" href="/css/jquery.typeahead.min.css">
  <title>Stackoverflow Search</title>
</head>
<body>
  <div class=header>
    <div class=login-btn>
      <span class=login>Sign In</span>
    </div>
  </div>
  <div class=search>
    <div class=graphic></div>
    <div class=input-wrapper>
       <form id="form-country_v1" name="form-country_v1">
    <div class="typeahead__container">
        <div class="typeahead__field">
 
            <span class="typeahead__query">
                <input class="input js-typeahead-country_v1"  type="search" autocomplete="off">
            </span>
            <span class="typeahead__button">
                <button class="search-button" type="submit">
                    <i class="typeahead__search-icon"></i>
                </button>
            </span>
             
        </div>
    </div>
</form>
      
    </div>
    
  </div>
  <footer class=footer>
    <span>Copyright 2018</span>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/libs/jquery.typeahead.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
     