<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/search.css">
  <link rel="stylesheet" type="text/css" href="/css/jquery.typeahead.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <title>Document</title>
</head>
<body>
<div class="wrapper">
  <div class="header">
    <div class="search-box">
      <div class="logo">Logo</div>
      <div class="input-wrapper">
        <form id="form-country_v1" name="form-country_v1">
          <div class="typeahead__container">
              <div class="typeahead__field">
      
                  <span class="typeahead__query">
                      <input class="input js-typeahead-country_v1"  type="search" autocomplete="off">
                  </span>
                  <span class="typeahead__button">
                      <button class="search-button" type="submit">
                          <i class="typeahead__search-icon"></i>
                      </button>
                  </span>
                  
              </div>
          </div>
        </form>
      </div>
    </div>
      
    <div class=login-btn>
    <span class=login>Signout</span>
    </div>
  </div>

  <div class="search-results-container">
    <div class="resultStats">About 5,55,500 results in (0.36 seconds)</div>
    <ul class="search-results">
      <li class="search-results-item">
        <a class="result-url" href="#">Stack Overflow - Where Developers Learn, Share, & Build Careers</a>
        <div class="link-url" href="#">https://stackoverflow.com/</div>
        <div class="result-content">Stack Overflow is a privately held website, the flagship site of the Stack Exchange Network, created in 2008 by Jeff Atwood and Joel Spolsky. It was created to be a more open alternative to earlier question and answer sites such as Experts-Exchange. The name for the website was chosen by voting in April 2008 by readers ...</div>
      </li>

      <li class="search-results-item">
        <a class="result-url" href="#">Stack Overflow - Where Developers Learn, Share, & Build Careers</a>
        <div class="link-url" href="#">https://stackoverflow.com/</div>
        <div class="result-content">Stack Overflow is a privately held website, the flagship site of the Stack Exchange Network, created in 2008 by Jeff Atwood and Joel Spolsky. It was created to be a more open alternative to earlier question and answer sites such as Experts-Exchange. The name for the website was chosen by voting in April 2008 by readers ...</div>
      </li>

      <li class="search-results-item">
        <a class="result-url" href="#">Stack Overflow - Where Developers Learn, Share, & Build Careers</a>
        <div class="link-url" href="#">https://stackoverflow.com/</div>
        <div class="result-content">Stack Overflow is a privately held website, the flagship site of the Stack Exchange Network, created in 2008 by Jeff Atwood and Joel Spolsky. It was created to be a more open alternative to earlier question and answer sites such as Experts-Exchange. The name for the website was chosen by voting in April 2008 by readers ...</div>
      </li>

       <li class="search-results-item">
        <a class="result-url" href="#">Stack Overflow - Where Developers Learn, Share, & Build Careers</a>
        <div class="link-url" href="#">https://stackoverflow.com/</div>
        <div class="result-content">Stack Overflow is a privately held website, the flagship site of the Stack Exchange Network, created in 2008 by Jeff Atwood and Joel Spolsky. It was created to be a more open alternative to earlier question and answer sites such as Experts-Exchange. The name for the website was chosen by voting in April 2008 by readers ...</div>
      </li>

   <li class="search-results-item">
        <a class="result-url" href="#">Stack Overflow - Where Developers Learn, Share, & Build Careers</a>
        <div class="link-url" href="#">https://stackoverflow.com/</div>
        <div class="result-content">Stack Overflow is a privately held website, the flagship site of the Stack Exchange Network, created in 2008 by Jeff Atwood and Joel Spolsky. It was created to be a more open alternative to earlier question and answer sites such as Experts-Exchange. The name for the website was chosen by voting in April 2008 by readers ...</div>
      </li>

      <li class="search-results-item">
        <a class="result-url" href="#">Stack Overflow - Where Developers Learn, Share, & Build Careers</a>
        <div class="link-url" href="#">https://stackoverflow.com/</div>
        <div class="result-content">Stack Overflow is a privately held website, the flagship site of the Stack Exchange Network, created in 2008 by Jeff Atwood and Joel Spolsky. It was created to be a more open alternative to earlier question and answer sites such as Experts-Exchange. The name for the website was chosen by voting in April 2008 by readers ...</div>
      </li>

      <li class="search-results-item">
        <a class="result-url" href="#">Stack Overflow - Where Developers Learn, Share, & Build Careers</a>
        <div class="link-url" href="#">https://stackoverflow.com/</div>
        <div class="result-content">Stack Overflow is a privately held website, the flagship site of the Stack Exchange Network, created in 2008 by Jeff Atwood and Joel Spolsky. It was created to be a more open alternative to earlier question and answer sites such as Experts-Exchange. The name for the website was chosen by voting in April 2008 by readers ...</div>
      </li>

      <li class="search-results-item">
        <a class="result-url" href="#">Stack Overflow - Where Developers Learn, Share, & Build Careers</a>
        <div class="link-url" href="#">https://stackoverflow.com/</div>
        <div class="result-content">Stack Overflow is a privately held website, the flagship site of the Stack Exchange Network, created in 2008 by Jeff Atwood and Joel Spolsky. It was created to be a more open alternative to earlier question and answer sites such as Experts-Exchange. The name for the website was chosen by voting in April 2008 by readers ...</div>
      </li>

 <li class="search-results-item">
        <a class="result-url" href="#">Stack Overflow - Where Developers Learn, Share, & Build Careers</a>
        <div class="link-url" href="#">https://stackoverflow.com/</div>
        <div class="result-content">Stack Overflow is a privately held website, the flagship site of the Stack Exchange Network, created in 2008 by Jeff Atwood and Joel Spolsky. It was created to be a more open alternative to earlier question and answer sites such as Experts-Exchange. The name for the website was chosen by voting in April 2008 by readers ...</div>
      </li>

      <li class="search-results-item">
        <a class="result-url" href="#">Stack Overflow - Where Developers Learn, Share, & Build Careers</a>
        <div class="link-url" href="#">https://stackoverflow.com/</div>
        <div class="result-content">Stack Overflow is a privately held website, the flagship site of the Stack Exchange Network, created in 2008 by Jeff Atwood and Joel Spolsky. It was created to be a more open alternative to earlier question and answer sites such as Experts-Exchange. The name for the website was chosen by voting in April 2008 by readers ...</div>
      </li>

     

    </ul>
  </div>

  <div class="paginator">
    <ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>
  </div>


  <div class="footer">Copyright 2018</div>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/libs/jquery.typeahead.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="app.js"></script>
</body>
</html>