<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/css/signin.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <title>Document</title>
</head>
<body>
  <div class="wrapper">
    <div class="dialogue-wrapper">
    <div class="dialog">
      <div class="app-name" >`App Name`</div>
      <div style="font-weight:bold; font-size: 24px; font-weight: 400;line-height: 32px;">Sign In</div>
      <div style="line-height: 32px;">with your `App Name` Account</div>

      <div class="row">
        <div class="input-field ">
          <input id="email" type="email" class="validate signin-input">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input id="password" type="password" class="validate signin-input">
          <label for="password">Password</label>
        </div>
      </div>

      <a href="#" class="forgot-password">Forgot Password ?</a>

    <div class="submit-wrapper">
        <a href="#" class="create-account">Create Account</a>
        <div class="login-btn">
          <span class="login">Sign In</span>
        </div>
    </div>
      
    </div>
  </div>

  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="signin.js"></script>
</body>
</html>