<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/css/signup.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <title>Document</title>
</head>
<body>
  <div class="wrapper">

    <div class="header">
      <div class="logo">Logo</div>
       <div class=login-btn>
        <span class=login>SignIn</span>
      </div>
    </div>

    <div class="head">Create Your `App Name` Account</div>

    <div class="dialogue-wrapper">
    <div class="dialog">
      <div style="font-weight:bold; font-size: 24px; font-weight: 400;line-height: 32px; margin-bottom: 20px;">Sign Up</div>
      
      <div class="row">
        <div class="input-field ">
          <input id="email" type="email" class="validate signup-input">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input id="password" type="password" class="validate signup-input">
          <label for="password">Password</label>
        </div>
      </div>

    <div class="submit-wrapper">

        <div class="signup-btn">
          <span class="signup">Sign Up</span>
        </div>
    </div>
      
    </div>
  </div>

  </div>
  
  <footer class=footer>
    <span>Copyright 2018</span>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="signup.js"></script>
</body>
</html>