
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: arial, sans-serif;
}
* {
  box-sizing: border-box;
}
.header {
  position: fixed;
  width: 100%;
 
}
.header .login-btn {
  float: right;
  height: 30px;
  width: 70px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 2px;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
  color: #fff;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header .login-btn:active {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.23);
}

.login-btn .login {
  user-select: none;
  font-size: 14px;
  font-weight: bold;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  transform: translateY(50px);
}
.graphic {
  height: 216px;
  width: 350px;
  background-image: -webkit-linear-gradient(top, #ccc, #ccccde);
}
.input-wrapper {
  background-color: #fff;
  height: 44px;
  width: 584px;
  margin-top: 20px;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrapper:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
.input-wrapper:focus-within {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
.input {
  width: 100%;
  border: none !important;
  outline: none !important;
  font: 16px arial, sans-serif;
  font-size: 16px;
  font-family: arial, sans-serif;
  line-height: 34px;
  height: 44px;
}
.input:focus {
  border: none !important;
  outline: none !important;
}

.search-button {
  height: 44px !important;
  border: none !important;
}
.search-btn {
  line-height: 27px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #222;
  cursor: default;
  font-family: arial, sans-serif;
  font-weight: 700;
  margin: 11px 4px;
  height: 36px;
  width: 120px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 13px;
}
.search-btn:hover {
  font-weight: 700;
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  border-top: 1px solid #e4e4e4;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  font-size: small;
}

.typeahead__list {
  transform: translateY(-1px);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); 
}
.typeahead__list li {
  border: none !important;
}