html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: arial, sans-serif;
  overflow-x: hidden;
}

.wrapper {
  min-height: 100%;
  min-width: 1115px;
  position: relative;
}

* {
  box-sizing: border-box;
}

a:link, a:active {
  color: #1a0dab;
}

a:visited {
  color: #609;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
  height: 100px;
  width: 100%;
 
}

.search-box {
  display: flex;
  margin-left: 15px;
}

.logo {
  width: 100px;
  height: 44px;
  background: #ccc;
  margin-top: 20px;
}

.input-wrapper {
  background-color: #fff;
  height: 44px;
  width: 584px;
  margin-top: 20px;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 20px;
}
.input-wrapper:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
.input-wrapper:focus-within {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
.input {
  width: 100%;
  border: none !important;
  outline: none !important;
  font: 16px arial, sans-serif;
  font-size: 16px;
  font-family: arial, sans-serif;
  line-height: 34px;
  height: 44px;
  padding-left: 10px !important;
}

.input:focus {
  border: none !important;
  outline: none !important;
}


.search-button {
  height: 44px !important;
  border: none !important;
}

.login-btn {
  height: 30px;
  width: 70px;
  margin-top: 20px;
  margin-right: 25px;
  border-radius: 2px;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
  color: #fff;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.login-btn:active {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.23);
}
.login-btn .login {
  user-select: none;
  font-size: 14px;
  font-weight: bold;
}


.search-results-container {
  width: 70%;
  margin-left: 150px;
  padding-bottom: 150px;
  
}

.search-results {
  width: 100%;
  padding: 0;
  
}

.search-results-item {
  width: 80%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 26px;
  line-height: 1.2;
  text-align: left;
  color: #222;
}

.resultStats {
  line-height: 43px;
  color: #808080;
  font-size: small;
  
}

.result-url {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  text-align: left;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}

.link-url {
  font-size: 14px;
  color: #006621;
  font-style: normal;
  white-space: nowrap;
  line-height: 16px;
  text-align: left;
}

.result-content {
  line-height: 1.4;
  word-wrap: break-word;
  color: #545454;
  font-size: small;
  font-weight: normal;
  text-align: left;
}

.paginator {
  
  margin-left: 150px;
  position: absolute;
  bottom: 35px;
  left: 0;
}

.active {
  background-color: #4387fd !important;
}

.footer {
  width: 100%;
  height: 35px;
  border-top: 1px solid #e4e4e4;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  font-size: small;
  position: absolute;
  bottom: 0;
  left: 0;
  
}

.typeahead__list {
  transform: translateY(-1px);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); 
}
.typeahead__list li {
  border: none !important;
}