* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: arial, sans-serif;
  overflow-x: hidden;
}

a:visited{
  color: #4285f4;
}

.wrapper {
  min-height: 100%;
  min-width: 1115px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header { 
  background-color: #fafafa;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  height: 44px;
  background: #ccc;
  margin-left: 50px;
  
}

.head {
  text-align: center;
  font-family: sans-serif;
  color: #555;
  font-size: 30px;
  margin-top: 27px;
  
}

.dialogue-wrapper {
  margin-top: 100px; 
  width: 450px;
  height: 500px;
  padding: 48px 40px 36px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.login-btn {
  float: right;
  height: 30px;
  width: 70px;
  margin-top: 10px;
  margin-right: 50px;
  border-radius: 2px;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
  color: #fff;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.login-btn:active {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.23);
}

.login-btn .login {
  user-select: none;
  font-size: 14px;
  font-weight: bold;
}

.signup-btn {
  float: right;
  height: 30px;
  width: 70px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 2px;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
  color: #fff;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.signup-btn:active {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.23);
}

.signup-btn .signup {
  user-select: none;
  font-size: 14px;
  font-weight: bold;
}

.signup-input:focus {
  border-bottom: 1px solid #4387fd !important;
  box-shadow: 0 1px 0 0 #4387fd !important;
}

.signup-input-field label {
  color: #212121 !important;
}

.input-field:focus-within label{
  color: #4387fd !important;
}

.forgot-password, .create-account {
  color: #4285f4;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  font-size: 14px;
}

.submit-wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  border-top: 1px solid #e4e4e4;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  font-size: small;
}
