* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: arial, sans-serif;
  overflow-x: hidden;
}

a:visited{
  color: #4285f4;
}

.wrapper {
  min-height: 100%;
  min-width: 1115px;
  position: relative;

}
.dialogue-wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 450px;
  height: 500px;
  padding: 48px 40px 36px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.login-btn {
  float: right;
  height: 30px;
  width: 70px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 2px;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
  color: #fff;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.login-btn:active {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.23);
}

.login-btn .login {
  user-select: none;
  font-size: 14px;
  font-weight: bold;
}

.signin-input:focus {
  border-bottom: 1px solid #4387fd !important;
  box-shadow: 0 1px 0 0 #4387fd !important;
}

.signin-input-field label {
  color: #212121 !important;
}

.input-field:focus-within label{
  color: #4387fd !important;
}

.forgot-password, .create-account {
  color: #4285f4;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  font-size: 14px;
}

.submit-wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}